{
    "root": true,
    "extends": [
        "@coldhands/eslint-config"
    ],
    "globals": {
        "useApi": "readonly",
        "toRefs": "readonly",
        "addPlusMinus": "readonly",
        "Ref": "readonly",
        "watch": "readonly",
        "computed": "readonly",
        "ref": "readonly"
    },
    "rules": {
        "vue/html-self-closing": "off"
    }
}